.divMayor{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
}
.HeadContainer {
    background-color: none;
    justify-self: center;
    align-self: center;
}
.HeadContainer h1{
    color: white;
    font-size: 50px;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace
}

.gridContainer{    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: none;
    margin-top: 5rem;
    row-gap: 0rem;
    
}
.picContainer{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    background-color: blue;
    border: white solid 1px;
    box-shadow: 2px 2px 0px 0px rgb(0,0,0, 2) ;
    width: 80vw;    
    height: fit-content;
}
.picContainer img{
    width: 20rem;
    height: 20rem;
}
.picContainer p{
    margin-left: 4rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.carousel{
    display:contents;
    width: 40rem;
    max-height: 20rem;
    margin-top: 0;
}
.Showimg{
    object-fit:cover;
    max-width: 90vw;
    max-height: 30%;
    margin-top: 0;
    
    
}

@media screen and (device-width <= 768px) and (orientation: portrait){
    .divMayor{
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 80vh;
        overflow-y: scroll;
    }
}